#VGA
NET "Ro[4]" LOC = M13;
NET "Ro[3]" LOC = N14;
NET "Ro[2]" LOC = L12;
NET "Ro[1]" LOC = M12;
NET "Ro[0]" LOC = M11;
NET "Go[5]" LOC = P11;
NET "Go[4]" LOC = M10;
NET "Go[3]" LOC = L10;
NET "Go[2]" LOC = P9;
NET "Go[1]" LOC = N9;
NET "Go[0]" LOC = M9;
NET "Bo[4]" LOC = L7;
NET "Bo[3]" LOC = N8;
NET "Bo[2]" LOC = P8;
NET "Bo[1]" LOC = M7;
NET "Bo[0]" LOC = P7;
NET "VS" LOC = L13;
NET "HS" LOC = M14;

NET "Ro[4]" IOSTANDARD = LVTTL;
NET "Ro[3]" IOSTANDARD = LVTTL;
NET "Ro[2]" IOSTANDARD = LVTTL;
NET "Ro[1]" IOSTANDARD = LVTTL;
NET "Ro[0]" IOSTANDARD = LVTTL;
NET "Go[5]" IOSTANDARD = LVTTL;
NET "Go[4]" IOSTANDARD = LVTTL;
NET "Go[3]" IOSTANDARD = LVTTL;
NET "Go[2]" IOSTANDARD = LVTTL;
NET "Go[1]" IOSTANDARD = LVTTL;
NET "Go[0]" IOSTANDARD = LVTTL;
NET "Bo[4]" IOSTANDARD = LVTTL;
NET "Bo[3]" IOSTANDARD = LVTTL;
NET "Bo[2]" IOSTANDARD = LVTTL;
NET "Bo[1]" IOSTANDARD = LVTTL;
NET "Bo[0]" IOSTANDARD = LVTTL;
NET "HS" IOSTANDARD = LVTTL;
NET "VS" IOSTANDARD = LVTTL;

NET "Bo[4]" SLEW = FAST;
NET "Bo[3]" SLEW = FAST;
NET "Bo[2]" SLEW = FAST;
NET "Bo[1]" SLEW = FAST;
NET "Bo[0]" SLEW = FAST;
NET "Go[5]" SLEW = FAST;
NET "Go[4]" SLEW = FAST;
NET "Go[3]" SLEW = FAST;
NET "Go[2]" SLEW = FAST;
NET "Go[1]" SLEW = FAST;
NET "Go[0]" SLEW = FAST;
NET "Ro[4]" SLEW = FAST;
NET "Ro[3]" SLEW = FAST;
NET "Ro[2]" SLEW = FAST;
NET "Ro[1]" SLEW = FAST;
NET "Ro[0]" SLEW = FAST;
NET "HS" SLEW = FAST;
NET "VS" SLEW = FAST;

NET "LED[0]" LOC = P4;
NET "LED[0]" IOSTANDARD = LVTTL;

NET "LED[1]" LOC = N5;
NET "LED[1]" IOSTANDARD = LVTTL;

NET "LED[2]" LOC = P5;
NET "LED[2]" IOSTANDARD = LVTTL;

//NET "EXTM" LOC = M6;
//NET "EXTM" IOSTANDARD = LVTTL;

NET "RESET" LOC = C3;
NET "RESET" IOSTANDARD = LVTTL;
NET "RESET" PULLUP;

//NET "KEY0" LOC = P16;
//NET "KEY0" IOSTANDARD = LVTTL;
//NET "KEY0" PULLUP;

NET "UART_RX" LOC = C11;
NET "UART_RX" IOSTANDARD = LVTTL;

NET "UART_TX" LOC = D12;
NET "UART_TX" IOSTANDARD = LVTTL;

NET "clk" LOC = T8;
NET "clk" IOSTANDARD = LVTTL;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50 %;
NET "clk" CLOCK_DEDICATED_ROUTE = TRUE;
NET "clk" TNM_NET = "clk";
