#VGA
NET "Ro[4]" LOC = P51;
NET "Ro[3]" LOC = P50;
NET "Ro[2]" LOC = P48;
NET "Ro[1]" LOC = P47;
NET "Ro[0]" LOC = P46;
NET "Go[5]" LOC = P45;
NET "Go[4]" LOC = P44;
NET "Go[3]" LOC = P43;
NET "Go[2]" LOC = P41;
NET "Go[1]" LOC = P40;
NET "Go[0]" LOC = P35;
NET "Bo[4]" LOC = P34;
NET "Bo[3]" LOC = P33;
NET "Bo[2]" LOC = P32;
NET "Bo[1]" LOC = P30;
NET "Bo[0]" LOC = P29;
NET "VS" LOC = P27;
NET "HS" LOC = P26;

NET "Ro[4]" IOSTANDARD = LVTTL;
NET "Ro[3]" IOSTANDARD = LVTTL;
NET "Ro[2]" IOSTANDARD = LVTTL;
NET "Ro[1]" IOSTANDARD = LVTTL;
NET "Ro[0]" IOSTANDARD = LVTTL;
NET "Go[5]" IOSTANDARD = LVTTL;
NET "Go[4]" IOSTANDARD = LVTTL;
NET "Go[3]" IOSTANDARD = LVTTL;
NET "Go[2]" IOSTANDARD = LVTTL;
NET "Go[1]" IOSTANDARD = LVTTL;
NET "Go[0]" IOSTANDARD = LVTTL;
NET "Bo[4]" IOSTANDARD = LVTTL;
NET "Bo[3]" IOSTANDARD = LVTTL;
NET "Bo[2]" IOSTANDARD = LVTTL;
NET "Bo[1]" IOSTANDARD = LVTTL;
NET "Bo[0]" IOSTANDARD = LVTTL;
NET "HS" IOSTANDARD = LVTTL;
NET "VS" IOSTANDARD = LVTTL;

NET "Bo[4]" SLEW = FAST;
NET "Bo[3]" SLEW = FAST;
NET "Bo[2]" SLEW = FAST;
NET "Bo[1]" SLEW = FAST;
NET "Bo[0]" SLEW = FAST;
NET "Go[5]" SLEW = FAST;
NET "Go[4]" SLEW = FAST;
NET "Go[3]" SLEW = FAST;
NET "Go[2]" SLEW = FAST;
NET "Go[1]" SLEW = FAST;
NET "Go[0]" SLEW = FAST;
NET "Ro[4]" SLEW = FAST;
NET "Ro[3]" SLEW = FAST;
NET "Ro[2]" SLEW = FAST;
NET "Ro[1]" SLEW = FAST;
NET "Ro[0]" SLEW = FAST;
NET "HS" SLEW = FAST;
NET "VS" SLEW = FAST;

NET "LED[0]" LOC = P95;
NET "LED[0]" IOSTANDARD = LVTTL;

NET "LED[1]" LOC = P94;
NET "LED[1]" IOSTANDARD = LVTTL;

NET "LED[2]" LOC = P98;
NET "LED[2]" IOSTANDARD = LVTTL;

//NET "EXTM" LOC = P57;
//NET "EXTM" IOSTANDARD = LVTTL;

NET "RESET" LOC = P16;
NET "RESET" IOSTANDARD = LVTTL;
NET "RESET" PULLUP;

//NET "KEY0" LOC = P16;
//NET "KEY0" IOSTANDARD = LVTTL;
//NET "KEY0" PULLUP;

//NET "UART_RX" LOC = P14;
//NET "UART_RX" IOSTANDARD = LVTTL;

//NET "UART_TX" LOC = P12;
//NET "UART_TX" IOSTANDARD = LVTTL;
//NET "RXD" LOC = P14;

NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;
TIMESPEC TS_clk = PERIOD "clk" 20.833333 ns HIGH 50 %;
NET "clk" CLOCK_DEDICATED_ROUTE = TRUE;
NET "clk" TNM_NET = "clk";
