#VGA
NET "Ro[2]" LOC = P80;
NET "Ro[1]" LOC = P79;
NET "Ro[0]" LOC = P78;
NET "Go[2]" LOC = P83;
NET "Go[1]" LOC = P82;
NET "Go[0]" LOC = P81;
NET "Bo[2]" LOC = P87;
NET "Bo[1]" LOC = P85;
NET "Bo[0]" LOC = P84;

NET "VS" LOC = P88;
NET "HS" LOC = P92;

NET "Ro[2]" IOSTANDARD = LVTTL;
NET "Ro[1]" IOSTANDARD = LVTTL;
NET "Ro[0]" IOSTANDARD = LVTTL;
NET "Go[2]" IOSTANDARD = LVTTL;
NET "Go[1]" IOSTANDARD = LVTTL;
NET "Go[0]" IOSTANDARD = LVTTL;
NET "Bo[2]" IOSTANDARD = LVTTL;
NET "Bo[1]" IOSTANDARD = LVTTL;
NET "Bo[0]" IOSTANDARD = LVTTL;
NET "HS" IOSTANDARD = LVTTL;
NET "VS" IOSTANDARD = LVTTL;

NET "Bo[2]" SLEW = FAST;
NET "Bo[1]" SLEW = FAST;
NET "Bo[0]" SLEW = FAST;
NET "Go[2]" SLEW = FAST;
NET "Go[1]" SLEW = FAST;
NET "Go[0]" SLEW = FAST;
NET "Ro[2]" SLEW = FAST;
NET "Ro[1]" SLEW = FAST;
NET "Ro[0]" SLEW = FAST;
NET "HS" SLEW = FAST;
NET "VS" SLEW = FAST;

#NET "LED[0]" LOC = P132;
#NET "LED[0]" IOSTANDARD = LVTTL;

#NET "LED[1]" LOC = P133;
#NET "LED[1]" IOSTANDARD = LVTTL;

#NET "LED[2]" LOC = P134;
#NET "LED[2]" IOSTANDARD = LVTTL;

NET "RESET" LOC = P126;
NET "RESET" IOSTANDARD = LVTTL;
NET "RESET" PULLUP;

NET "clk" LOC = P55;
NET "clk" IOSTANDARD = LVTTL;
TIMESPEC TS_clk = PERIOD "clk" 20.833333 ns HIGH 50 %;
NET "clk" CLOCK_DEDICATED_ROUTE = TRUE;
NET "clk" TNM_NET = "clk";
